In [2]:
import pandas as pd

## Downsample original data

Downsample for development

In [3]:
df=pd.read_table('data/eng-fra.txt', header=None)
df.head()

       0           1
0    Go.        Va !
1   Run!     Cours !
2   Run!    Courez !
3   Wow!  Ça alors !
4  Fire!    Au feu !

In [4]:
df.shape

(135842, 2)

In [5]:
df_subset=df.iloc[:1000,]

## Save

In [6]:
df_subset.to_csv('data/eng-fra_sub.txt', header=None, index=None, sep=' ')